body{
    margin: 0px;
    padding: 0;
    background: black;
    color: white;
}

h1{
    text-align: center;
}

.pastel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.articulo{
    border: 30px;
    margin: 30px
}

.ingredientes{
    text-align: center;
}
.ingredientes li{
    list-style: none;
}

footer{
    background: red;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 3px;
    
}